body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #16161d;
}

main {
	width: 99vw;
	height: 99vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	font-size: 18px;
}

#canvas {
	width: 500px;
	height: 500px;
	border: 1px solid black;
	margin-left: 1rem;
}