body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #16161d;
}

main {
	width: 99vw;
	height: 99vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
	font-size: 18px;
}

#app {
	width: 50%;
	height: 50%;
}